.items-container {
  width: 600px;
  margin-bottom: 8px;
  max-height: 50vh;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--brd-medium);
  padding: 16px;
}
