<app-modal *ngIf="visible" (shadingClick)="hide()">
  <h2>Наличие товара</h2>
  <div class="items-container">
    <img *ngIf="loading" class="lds-spinner" src="assets/img/gifs/loading-spinner.gif" alt="...">
    <div *ngFor="let remain of remains$ | async" class="item">
      <div>
        <h3>{{remain.warehouse.name}}</h3>
        <div>{{remain.warehouse.address}}</div>
      </div>
      <div>
        <div>Доступно: {{remain.count}} {{product.unitOfMeasure | unitOfMeasure}}</div>
      </div>
    </div>
  </div>
</app-modal>
