<div #scrollTarget class="search-wrapper">
  <app-search
    (search)="onSearch($event)"
    (searchReset)="onSearchReset()"
  ></app-search>
</div>
<img *ngIf="loading" class="lds-spinner" src="assets/img/gifs/loading-spinner.gif" alt="...">
<div class="grid-layout">
  <app-product-item *ngFor="let product of products$ | async" [product]="product"
    [showPrice]="showPrice" (itemClick)="onItemClick($event)"></app-product-item>
</div>
<div class="pagination-wrapper">
  <app-pagination-control [hidden]="loading"
    [pageSize]="pageSize" [elementsCount]="(foundCount$ | async)!"
    [currentPage]="currentPage" (pageChanged)="onPageChanged($event)"
  ></app-pagination-control>
</div>
