<footer>
  <div class="container">
    <nav>
      <ol>
        <li>
          <a routerLink="/contacts" class="nav-link">Контакты</a>
        </li>
        <li>
          <a routerLink="/privacy-policy" class="nav-link">Политика конфиденциальности</a>
        </li>
        <li>
          <a routerLink="/agreement" class="nav-link">Пользовательское соглашение</a>
        </li>
        <li>
          <a routerLink="/warranty" class="nav-link">Гарантия на товар</a>
        </li>
        <li>
          <a routerLink="/exchange-refund" class="nav-link">Обмен и возврат</a>
        </li>
      </ol>
    </nav>
    <div class="copyright">© 2023 Ковкин Дом</div>
  </div>
</footer>
