footer {
  background-color: var(--bg-footer);
  padding: 24px 0px;
  margin-top: 24px;
}

nav {
  border-bottom: 1px solid var(--brd-medium);
  margin-bottom: 24px;
  padding-bottom: 24px;
  ol{
  display: flex;
  justify-content: space-between;
  align-items: center;
    li {
      display: flex;
      align-items: center;
      list-style: none;
    }
  }
}

.copyright {
  color: var(--color-light);
}
