<div class="item">
  <div class="title-section">
    <a [routerLink]="['/products', item.id]">
      <div class="img-container">
        <img [src]="item.imageUri" [alt]="item.title" class="img-fit">
      </div>
    </a>
    <a [routerLink]="['/products', item.id]" class="nav-link title">{{item.title}}</a>
  </div>
  <div class="price by-one">{{item.price | price}} р.</div>
  <div class="counter">
    <input (change)="onCountChange()" type="text" onlyNumber [(ngModel)]="item.count" class="num-sm" >
  </div>
  <div class="price total">{{item.price * item.count | price}} р.</div>
  <button (click)="onBtnRemoveClick()" class="btn-close md"></button>
</div>
