@import "src/mixins";

.shading {
  position: fixed;
  top: 0;
  left: 0;
  @include flex-center;

  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #00001b, $alpha: 0.25);
}

.modal {
  padding: 32px;
  border-radius: 16px;
  background-color: var(--bg-control);
  box-shadow: 0 0 8px var(--shadow);
}
