.notification {
  display: flex;
  align-items: center;
  border: 1px solid var(--brd-light);
  margin: 4px 0px;
  padding: 16px;
  border-radius: 5px;
  background-color: var(--bg-control);
}

.marker {
  flex-shrink: 0;
  align-self: stretch;
  margin-right: 16px;
  width: 4px;
  &.error {
    background-color: var(--error);
  }
  &.success {
    background-color: var(--success);
  }
  &.info {
    background-color: var(--info);
  }
}

.content {
  font-size: 14px;
}

.btn-close-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
