.headers {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  border-bottom: 1px solid var(--brd-light);
  padding: 8px 8px 8px 120px;
  >*:not(:last-child) {
    margin-right: 8px;
  }
}
.header {
  &.title {
    min-width: 128px;
    flex-grow: 1;
  }
  &.price {
    width: 128px;
    text-align: center;
  }
  &.count {
    width: 144px;
    text-align: center;
  }
}
