<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-section">
    <label for="oldPassword">Старый Пароль</label>
    <input type="password" name="oldPassword" formControlName="oldPassword"
      placeholder="Введите старый пароль..." class="form-text">
    <app-form-error [control]="oldPassword"></app-form-error>
  </div>

  <div class="form-section">
    <label for="newPassword">Новый Пароль</label>
    <input type="password" name="newPassword" formControlName="newPassword"
      placeholder="Введите новый пароль..." class="form-text">
    <app-form-error [control]="newPassword"></app-form-error>
  </div>

  <div class="form-section">
    <label for="newPasswordRepeat">Подтверждение Пароля</label>
    <input type="password" name="newPasswordRepeat" formControlName="newPasswordRepeat"
      placeholder="Повторите новый пароль..." class="form-text">
    <app-form-error [control]="newPasswordRepeat" [messages]="passwordRepeatMessages"></app-form-error>
  </div>

  <div class="form-btn-wrapper form-section">
    <button [disabled]="isBtnSubmitDisabled" class="btn">Сменить</button>
  </div>
  <p *ngIf="wrongPassword" class="form-error global">
    Неверно введен старый пароль
  </p>
</form>
