@import "src/mixins";
@import "src/variables";

.layout {
  display: flex;
  @media (max-width: $bp-lg) {
    flex-direction: column;
  }
}

.price {
  margin-bottom: 8px;
}

.details-layout {
  flex-grow: 1;
  &>.card {
    margin-bottom: 16px;
  }
}

.params-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 16px 8px;
}

.param-name {
  font-size: 16px;
  border-bottom: 1px dotted var(--brd-strong);
}

.param-value {
  font-size: 16px;
}

.img-container {
  @include img-container(664px);
  flex-shrink: 0;
  margin-right: 16px;
  margin-bottom: 16px;
  @media (max-width: $bp-lg){
    width: 100%;
  }
}

.card.price-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
