<app-modal-product-remains #modalProductRemains>
</app-modal-product-remains>
<img *ngIf="loading" class="lds-spinner" src="assets/img/gifs/loading-spinner.gif" alt="...">
<div *ngIf="product$ | async as product">
  <h1>{{product.title}}</h1>
  <div class="layout">
    <div class="img-container">
      <img class="img-fit" [src]="product.imageUri" [alt]="product.title">
    </div>
    <div class="details-layout">
      <div class="card price-card">
        <div>
          <div class="price lg">
            {{product.price | price}} р./{{product.unitOfMeasure | unitOfMeasure}}
          </div>
          <div>
            <app-product-availability
              [availabilityCount]="product.availabilityCount"
              (showRemainsNeeded)="onShowRemainsNeeded(product)">
            </app-product-availability>
          </div>
        </div>
        <ng-container *ngIf="product.availabilityCount">
          <a routerLink="/cart" *ngIf="inCart; else btnCartAddBlock" class="btn">
            Перейти в корзину
          </a>
          <ng-template #btnCartAddBlock>
            <button (click)="onBtnCartAdd()" class="btn" [disabled]="btnDisabled">
              Добавить в корзину
            </button>
          </ng-template>
        </ng-container>
      </div>
      <div class="card">
        <h2>Описание</h2>
        <p>{{product.description ?? 'Нет описания.'}}</p>
      </div>
      <div class="card">
        <h2>Характеристики</h2>
        <div class="params-grid dotted">
          <div class="param-name">Вес, кг</div>
          <div class="param-value">{{(product.weight | number: undefined : 'ru') ?? paramDefault}}</div>
          <div class="param-name">Размер, мм</div>
          <div class="param-value">{{product.size ?? paramDefault}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
