@import "src/mixins";

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.img-container {
  width: 196px;
  height: 147px;
  background-color: var(--bg-img);
  border-radius: 5px;
  overflow: hidden;
  margin-right: 16px;
}

.info-section {
  display: flex;
  flex-direction: row;
}

.title-section {
  margin-right: 16px;
}

.attribute-grid {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 8px;
}

.attribute {
  font-size: 16px;
  margin-bottom: 8px;
}

// Section for buttons and other controls.
.action-section {
  display: none;
}
