<div class="card item">
  <div class="info-section">
    <div (click)="onClick()" class="img-container">
        <img [src]="warehouse.imageUri" [alt]="warehouse.name" class="img-fit">
    </div>
    <div (click)="onClick()" class="title-section">
      <h2 class="nav-link">{{warehouse.name}}</h2>
      <div class="attribute-grid">
        <div class="attribute">Адрес:</div>
        <div class="attribute">{{warehouse.address}}</div>

        <div class="attribute">Телефон:</div>
        <div class="attribute">{{warehouse.phoneNumber | phoneNumber}}</div>
      </div>
    </div>
  </div>
  <div class="action-section">

  </div>
</div>
