<div class="selcted-section">
  <button *ngIf="selectedCategory" (click)="toPreviousCategory()" class="btn-round md">
    <img src="assets\img\icons\left_arrow.svg">
  </button>
  <div class="selected-name">
    {{selectedCategory ? selectedCategory.name : 'Категории'}}
  </div>
</div>
<img *ngIf="loading" class="lds-spinner" src="assets/img/gifs/loading-spinner.gif" alt="...">
<div *ngIf="shownCategories" class="layout">
  <app-products-category-card *ngFor="let category of shownCategories" [category]="category"
    (selected)="onCategorySelected($event)"
  ></app-products-category-card>
</div>
