<app-modal-product-remains #modalProductRemains>
</app-modal-product-remains>
<div class="search-wrapper">
  <app-search
    (search)="onSearch($event)"
    (searchReset)="onSearchReset()"
  ></app-search>
</div>
<app-products-category-selector #categorySelector
  (selected)="onCategorySelected($event)"
></app-products-category-selector>
<img *ngIf="loading" class="lds-spinner" src="assets/img/gifs/loading-spinner.gif" alt="...">
<div *ngIf="products$ | async as products">
  <div *ngIf="search" class="found-count">
    По запросу "{{search}}"{{category ? ' в категории "' + category.name + '"' : ''}} найдено товаров: {{foundCount$ | async}}
  </div>
  <div class="product-card-grid">
    <app-poduct-card
      *ngFor="let product of products" [product]="product"
      (showRemainsNeeded)="onShowRemainsNeeded($event)"
    ></app-poduct-card>
  </div>
</div>
<div class="pagination-wrapper">
  <app-pagination-control [hidden]="loading"
    [pageSize]="pageSize" [elementsCount]="(foundCount$ | async)!"
    [currentPage]="currentPage" (pageChanged)="onPageChanged($event)"
  ></app-pagination-control>
</div>
