@import "src/variables";

.layout {
  display: flex;
  @media (max-width: $bp-lg) {
    flex-direction: column;
  }
}

.items-list {
  width: 780px;
  margin-right: 16px;
  margin-bottom: 16px;
  @media (max-width: $bp-lg) {
    width: 100%;
  }
}

.headers {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--brd-light);
  padding: 8px 8px 8px 120px;
  >*:not(:last-child) {
    margin-right: 8px;
  }
}
.header {
  &.title {
    min-width: 128px;
    flex-grow: 1;
  }
  &.price {
    width: 128px;
    text-align: center;
  }
  &.count {
    width: 144px;
    text-align: center;
  }
}

.card.summary {
  flex-grow: 1;
  align-self: flex-start;
  @media (max-width: $bp-lg) {
    align-self: stretch;
    order: -1;
    margin-bottom: 16px;
  }
}

.summary-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  margin-bottom: 8px;
}
.summary-value {
  font-weight: 500;
  text-align: end;
}

hr {
  color: var(--brd-light);
  margin-bottom: 12px;
}

.cart-empty {
  margin: 24px auto;
  text-align: center;
}
