p {
  text-align: justify;
}

li {
  margin-left: 24px;
}
ul {
  margin-bottom: 8px;
}

h2 {
  margin-top: 16px;
  font-weight: 500;
}
h3 {
  margin-top: 12px;
  font-weight: 500;
}

.spacer {
  height: 50vh;
}
