<img *ngIf="loading" class="lds-spinner" src="assets/img/gifs/loading-spinner.gif" alt="...">
<app-modal-accept #modalDelete
  title="{{'Удалить \"' + categoryTitle + '\"?'}}"
  (accepted)="modalDeleteAccept()"
>
  <p class="hint md">
    При удалении категории вложенные<br>
    категории и товары будут перенесены<br>
    в её родительскую категорию.
  </p>
</app-modal-accept>
<div *ngIf="!loading" class="tab-container md">
  <h2 class="center">{{isEditMode ? 'Редактирование' : 'Добавление'}} категории</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-section">
      <label for="name">Название</label>
      <input type="text" name="name" formControlName="name"
        placeholder="Введите название..." class="form-text">
      <app-form-error [control]="name"></app-form-error>
    </div>

    <div class="form-section">
      <app-image-selector (selected)="onImageSelected($event)"></app-image-selector>
    </div>

    <div class="form-section">
      <app-dropdown-label title="Родительская категория" [isPreFolded]="true">
        <div class="tab-container lg">
          <app-products-category-selector #categorySelector
            [preselectedId]="parentCategoryId"
            (selected)="onCategorySelected($event)"
          ></app-products-category-selector>
        </div>
      </app-dropdown-label>
    </div>

    <div class="form-section form-btn-wrapper">
      <button [disabled]="isBtnSubmitDisabled" class="btn">Сохранить</button>
      <button [disabled]="isBtnSubmitDisabled" type="button" *ngIf="isEditMode"
        (click)="onBtnDeleteClick()" class="btn delete">Удалить</button>
    </div>
  </form>
</div>
