<h1>Обмен и возврат</h1>
<h2>Обмен и возврат продукции надлежащего качества</h2>
<p>Продавец гарантирует, что покупатель в течение 7 дней с момента приобретения товара может отказаться от товара надлежащего качества, если:</p>
<ul>
	<li>товар не поступал в эксплуатацию и имеет товарный вид, находится в упаковке со всеми ярлыками, а также есть документы на приобретение товара;</li>
	<li>товар не входит в перечень продуктов надлежащего качества, не подлежащих возврату и обмену.</li>
</ul>
<p>Покупатель имеет право обменять товар надлежащего качество на другое торговое предложение этого товара или другой товар, идентичный по стоимости или на иной товар с доплатой или возвратом разницы в цене.</p>
<h2>Возврат денежных средств</h2>
<p>Срок возврата денежных средств зависит от вида оплаты, который изначально выбрал покупатель.</p>
<p>При наличном расчете возврат денежных средств осуществляется на кассе не позднее через через 10 дней после предъявления покупателем требования о возврате.</p>
<p>Зачисление стоимости товара на карту клиента, если был использован безналичный расчёт, происходит сразу после получения требования от покупателя.</p>
<p>При оплате банковской платежной картой возврат денежных средств осуществляется на карточку, с которой была произведена оплата.</p>
