<div class="item">
  <div class="title-section">
    <a [routerLink]="['/products', item.productId]">
      <div class="img-container">
        <img [src]="item.imageUri" [alt]="item.title" class="img-fit">
      </div>
    </a>
    <a [routerLink]="['/products', item.productId]" class="nav-link title">{{item.title}}</a>
  </div>
  <div class="price by-one">{{item.price | price}} р.</div>
  <div class="count">{{item.count}}</div>
  <div class="price total">{{item.price * item.count | price}} р.</div>
</div>
