<div class="auth-container">
  <h1 class="center">Вход</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-section">
      <label for="email">Email</label>
      <input type="text" name="email" formControlName="email"
        placeholder="Ваша почта..." class="form-text">
      <app-form-error [control]="email"></app-form-error>
    </div>

    <div class="form-section">
      <label for="password">Пароль</label>
      <input type="password" name="password" formControlName="password"
        placeholder="Ваш пароль..." class="form-text">
      <app-form-error [control]="password"></app-form-error>
    </div>

    <div class="form-btn-wrapper form-section">
      <button [disabled]="isBtnSubmitDisabled" class="btn">Войти</button>
    </div>
    <p *ngIf="isAuthFailed" class="form-error global">
      Неверно введена почта или пароль
    </p>
  </form>
</div>
