@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin img-container($size) {
  background-color: var(--bg-img);
  width: $size;
  height: $size;
  border-radius: 5px;
}

@mixin responsive-container($proportion) {
  position: relative;
  overflow: hidden;
  width: 100%;
  &::after {
    content: "";
    display: block;
    padding-top: 100% * (1 / $proportion);
  }
}

@mixin responsive-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

@mixin table-row($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  align-items: center;
  border-bottom: 1px solid var(--brd-light);
}
