<div class="item" [ngClass]="{'not-alowed': !item.alowedToOrder}">
  <div class="title-section">
    <div class="img-container">
      <img [src]="item.imageUri" [alt]="item.title" class="img-fit">
    </div>
    <div>
      <div class="title">{{item.title}}</div>
      <div
        *ngIf="this.item.available === null; else availableBlock"
        class="availability-section"
      >
        Место получения не выбрано
      </div>
      <ng-template #availableBlock>
        <div class="availability-section">
          В наличии: {{this.item.available}}
        </div>
      </ng-template>
    </div>
  </div>
  <div class="price by-one">{{item.price | price}} р.</div>
  <div class="counter">
    <input (change)="onCountChange()" type="text" onlyNumber [(ngModel)]="item.count" maxlength="6" class="num-sm" >
  </div>
  <div class="price total">{{item.price * item.count | price}} р.</div>
  <input
    [ngModel]="item.selected" (ngModelChange)="onCbChanged($event)"
    type="checkbox" id="cbSelected_{{item.productId}}" class="checkbox">
  <label for="cbSelected_{{item.productId}}"></label>
</div>
<div class="item-underline"></div>
